<h1>Edit Visit</h1>
<%= form_for [@visit] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <%= f.label :turn %>
  <%= f.select :turn, options_for_select([['Morning', false],['Afternoon', true]], @visit.turn) %>
  <br>
   <%= f.label :members %>
  <%= f.text_field :members %>
  <br>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= image_tag @visit.image.url(:thumb) %>
  <br>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <br>

  <%= f.submit 'Save' %>

  <% end %>
