
<div class="visits-dash col-md-6">
	<h2>Last Visits</h2>
	<% @visit.last_created_visits(5).each do |v| %>
		<li id="<%= v.id %>">
			<%= v.title %> -
			<%= v.description %>
			<%= link_to 'Edit', edit_admin_dashboard_path(v.id) %>
		</li>
	<% end %>
	
</div>
<div class="reservation-dash col-md-6">
	<h2>Last reservation</h2>
	<% @reservation.last_created_reservation(5).each do |r| %>
		<li id="<%= r.id %>">
			<%= r.title %> -
			<%= r.email %>
			<%= link_to 'Edit', edit_admin_reservation_path(r.id) %>
		</li>
	<% end %>
	
</div>

<div class="paginate"><%= will_paginate @reservation %></div>


<div id="calendar" class="col-md-12">
</div>

	<%= javascript_tag do -%>
	var visits = <%= @visits.html_safe %>;
	<% end -%>
</div>