
<table class="table table-hover table-condensed wait">WAIT
<th> Title </th>
<th> Email </th>
<th> Phone </th>
<th> Members </th>
<th> Date </th>
<th> State </th>
<th>  </th>
<th>  </th>
<th>  </th>
<% @reservation.last_created_reservation(5).each do |r| %>
<tr id="reservation_<%= r.id %>" >
	<% if r.state == "wait" %>
	<td> <%= r.title %> </td>
	<td><%= r.email %> </td>
	<td> <%= r.phone %> </td>
	<td> <%= r.members %> </td>
	<td> <%= r.date %> </td>
	<td> <%= r.state %> </td>
	<td><%= button_to 'Accept',admin_path(r.id), method: :post, :class => 'btn btn-success' %></td>
	<td><%= button_to(admin_reservation_path(r.id), method: :delete, remote: true, :class => 'btn btn-danger') do %>
		Delete
	<% end %></td>
	<td><%= button_to 'Edit', edit_admin_reservation_path(r.id), :class => 'btn btn-warning' %></td>
	<% end %>
</tr>
<% end %>
</table>

<table class="table table-hover table-condensed accept"> ACCEPT
<th> Title </th>
<th> Email </th>
<th> Phone </th>
<th> Members </th>
<th> Date </th>
<th> State </th>
<th>  </th>
<th>  </th>
<% @reservation.last_created_reservation(5).each do |r| %>
<tr>
	<% if r.state == "accept" %>
	<td> <%= r.title %> </td>
	<td><%= r.email %> </td>
	<td> <%= r.phone %> </td>
	<td> <%= r.members %> </td>
	<td> <%= r.date %> </td>
	<td> <%= r.state %> </td>

	
	<td><button class="buttons_admin btn btn-warning"><%= link_to 'Edit', edit_admin_reservation_path(r.id)%></button></td>
	<% end %>
</tr>
<% end %>
</table>
<div class="paginate apple_pagination "><%= will_paginate @reservation %></div>