<div>Events</div>
<%= flash[:notice] %>
<%= flash[:error] %>


<% @events.each do |event| %>
	<li><%= event.title %> 
		<%if event.hours.blank? == false %> 
		<%= event.hours %> hours
		<% end %>
		<% if event.minutes.blank? == false %> 
		<%= event.minutes %> minutes
		<% end %>
		<%= event.date %>
		<%= event.description %>
	</li>
<% end %>

<%= link_to 'Add Event', new_event_path %>