<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

</head>
<header>
	
</header>
<body>

<!-- Button trigger modal -->
<!--button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>


<section class="row">
	<article class="center">

		<div class="flash bg-success"><%= flash[:notice] %></div>
		<div class="flash bg-danger"><%= flash[:error] %></div>

		<div id="calendar" class="col-md-9 col-xs-12 col-ls-9">
			<%= javascript_tag do -%>
				var visits = <%= @calendar_items.html_safe %>;
			<% end -%>
		</div>
		<div class="list-visits col-md-3">
			<div class="eventclick"></div>

			<button class="btn btn-success button-event">Last Events</button>

			<div class="render-last-events">
				<%if @events.present? %>
					<% @events.last_created_events(5).each do |e| %>
						<div class="list-title"><%= e.title %></div>
						<div class="list-description"><%= e.description.truncate(10) %></div>
						<div class="list-image"><%= image_tag e.image.url(:thumb) %></div>
						<div class="list-url"> <a href="<%= e.url %>">Link Event</a></div>
						<hr>
					<% end %>
					<% else %>
						No events
				<% end %>
			</div>

			<button class="btn btn-info button-visit">Last Visit</button>
			
			<div class="render-last-visit">
					<% @visits.last_created_visits(5).each do |v| %>
						<div class="list-title"><%= v.title %></div>
						<div class="list-description"><%= v.date %></li></div><hr>
					<% end %>
			</div>

			<button class="btn btn-primary button-reservation">Reservation</button>

			<div class="render-reservation">
				<%= render partial: 'reservations/new' %>
			</div>
		</div>
	</section>
	</article>
	
</body>

</html>