<!DOCTYPE html>
<html>
<head>
  <title>Museum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>
<div class="header">
	<div class="logo">
	Book a <span class="visit">Visit</span>
	</div>
	<div class="login">
		<% if user_signed_in? %>
		<%= link_to 'Add Visit', new_admin_dashboard_path, remote: true %>
		<%= link_to 'Add Event', new_admin_event_path, remote: true %>
		<%= link_to 'Sign Out', destroy_user_session_path, method: :delete,
			data: { confirm: 'Are you sure?' } %>
		<% else %>
		<%= link_to 'Sign In', new_user_session_path %>
		<% end %>
	</div>
</div>

<div class="area">
		<%= yield %>
</div>

<footer class="footer">
		<%= link_to 'Admin', admin_dashboard_index_path %> Ironhack 2014
</footer>
</body>
</html>
